<h1 class="mt-4">Processos</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{processo.id ? 'Edição' : 'Cadastro'}}</li>
</ol>

<div class="container">
<form #processoForm="ngForm" (ngSubmit)="onSubmit()">

  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success" role="alert" *ngIf="success == true">
        Processo Id, salvo com sucesso!
      </div>
      <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
        {{ erro }}
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-6" *ngIf="processo.id">
        <div class="form-group">
            <label>id: </label>
            <input type="text" class="form-control" disabled="true" [ngModel]="processo.id" name="id"/>
        </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
          <label>Nome: </label>
          <input type="text" class="form-control"  [(ngModel)]="processo.nome" name="nome"/>
      </div>
  </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <button type="submit" class="btn btn-success" >
        <i class="fa fa-save"> </i> Salvar Dados
      </button>
      <button type="submit" class="btn btn-danger ml-1" (click)="voltarParaListagem()" >
        <i class="fa fa-arrow-alt-circle-left"> </i> Voltar
      </button>
     </div>
  </div>
</form>

</div>
